{% extends 'zxc/base.html' %}

{% block title %}Ваш Профиль{% endblock title %}

{% block content %}
<div class="container">
    <h2>Ваш Профиль</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Обновить</button>
    </form>
    <h3>Ваши Курсы</h3>
    <ul>
        {% for course in user.courses %}
            <li>{{ course.title }}</li>
        {% empty %}
            <li>У вас еще нет курсов.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}